body {
    margin: 0;
    line-height: normal;
  	position: relative;
  	background-color: #fff;
  	overflow-y: auto;
  	text-align: left;
  	font-size: 3rem;
  	color: #1e1e1e;
  	font-family: Inter;
}
.footer {
  	position: relative;
  	background-color: #fff;
  	border-top: 1px solid #d9d9d9;
  	overflow: hidden;
  	display: grid;
  	padding: 2rem 2rem 10rem;
    height: auto;
  	gap: 2rem;
  	font-size: 1.5rem;
  	color: #002c75;
}
.icon {
  	height: 2rem;
  	width: 2rem;
  	position: relative;
}
h1, .corkys-dogg-house {
  	position: relative;
  	font-size: 3rem;
  	line-height: 120%;
  	flex-shrink: 0;
    text-align: center;
}
h2, h3 {
    font-size: 2.5rem;
  	line-height: 120%;
  	font-weight: 600;
  	flex-shrink: 1;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}
.quote {
    font-size: 1.5rem;
    line-height: 120%;
}
.form-contact {
  	position: relative;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2.5rem;
  	gap: 1.5rem;
  	font-size: 1rem;
}
.menu-gallery {
  	position: relative;
    height: auto;
  	text-align: center;
  	color: #fff;
    background-color: #002c75;
}
.image{
  	position: relative;
  	width: 25rem;
  	height: 35rem;
  	object-fit: cover;
}
.hero-section {
  	position: relative;
    padding: 10rem;
}
.hero-image {
  	position: relative;
    display: block;
    margin: 0 auto;
    width: 50rem;
  	height: 40rem;
  	object-fit: cover;
}
.card-grid-testimonials {
  	position: relative;
  	background-color: #fff;
  	height: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4rem;
  	box-sizing: border-box;
  	gap: 3rem;
}
.subheading {
  	align-self: stretch;
  	position: relative;
  	font-size: 2rem;
  	line-height: 120%;
  	color: #757575;
    flex-shrink: 1rem;
}
.card-grid {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 3rem;
  	flex-shrink: 1;
  	font-size: 1.5rem;
}
.testimonial-card {
  	flex: 1;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 1.5rem;
  	gap: 1.5rem;
  	min-width: 15rem;
    flex-shrink: 1rem;
}
.avatar-block {
  	width: 8.688rem;
  	display: flex;
  	align-items: flex-start;
  	gap: 0.75rem;
  	font-size: 1rem;
  	color: #757575;
}
.avatar {
  	height: 2.5rem;
  	width: 2.5rem;
  	position: relative;
  	border-radius: 9999px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.shape-icon {
  	position: relative;
  	top: calc(50% - 20px);
  	left: calc(50% - 20px);
  	width: 2.5rem;
  	height: 2.5rem;
  	object-fit: cover;
}
.info, .name {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.125rem;
}
.nav-bar {
  	position: absolute;
  	border-bottom: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 2rem;
  	gap: 0rem 30rem;
  	color: #000;
}
.nav-items {
  	flex: 1;
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-end;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 2.5rem;
  	font-size: 1.5rem;
  	color: #012b75;
    position: relative;
  	line-height: 120%;
  	font-weight: 600;
}